nav {
  background-color: #000000;
  padding: 10px;
  text-align: center;
  box-shadow: 5px 15px 16px rgba(8, 24, 146, 0.726); 
}

nav a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;

}

.active-link {
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
}