.project-card {
    width: 300px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgba(255, 255, 255, 0.5) !important
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 20px rgba(255, 0, 0, 0.15);
  }
  
  .project-card .card-body {
    width: 300px; 
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    height: 300px; 
    border-radius: 5px; 
    backdrop-filter: blur(14px); 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 10px; 
    text-align: center; 
  }
  
  .project-card .card-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  
  .project-card .card-text {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }